<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" /></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="URL" value="https://demo.alissia.fr/" />
    <add key="URLFormation" value="https://formation.alissia.fr" />
    <add key="FolderDownloadsPath" value="..\..\Downloads" />
    <add key="FolderScreeanshotPath" value="..\..\Screenshots\ErrorScreenshots\" />
    <add key="FolderExtentReportPath" value="..\..\Reports\ExtentReport\" />
    <add key="FolderDocumentPath" value="..\..\Document\" />
    <add key="DownloadsPathFolder" value="C:\Users\insafki\Downloads\" />
  </appSettings>
  
</configuration>